*,  *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

    /*
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
*/
}

.card{



    width: 320px;
    /*300*/
    /*270*/
    height: 220px;
    /*350*/
    /*240*/
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;

    padding-right: 10px;
    left: 100px;
    display: inline-block;

}




/* navegación*/ 


.navegacion{
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
}
.logo{
    width: 150px;
    height: 75px;
    font-size: 35px;
    padding: 0px 80px;
    padding: 2px 15px;
    font-weight: bold;
}
.espacio-busqueda{
    padding: 7px 13px;
    border-radius: 50px;
    border: none;

    width: 75%;
    margin-left: 5px;
    margin-right: -35px;
}
.icon-search {
    color: #000;
    width: auto;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 7px 5px;
    border-radius: 50px;
    border: non;
}
.icon-search:hover{
    color: #d41d1d;
    background-color: rgba(255, 255, 255, 0.60);
    transition: all .6s;
}
.menu{
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.menu li{
    border-radius: 3px;
    margin:  0px 5px; 
    /*
    position: relative;
    display: inline-block;
    */
    
}
.menu li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    color: #fff;
}
.menu li a:hover{
    color: #000;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all .6s;
    border-radius: 50px;
}
.boton_menu{
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
}
.boton_menu:hover{
    color: #000;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all .6s;
    border-radius: 10px;
}
.submenu{
    position: absolute;
    width: 100px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    list-style: none;
    background-color: rgb(255, 255, 255);
}
.submenu >li{
    text-decoration: none;
}
.submenu > li >a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 7px 7px;
    border-radius: 50px; 
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
.submenu >li >a:hover{
    color: #000;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all .6s;
    border-radius: 50px;    
}

/*.portada{
    width: 100vw;
    height: auto;    
}*/

ul.show{
    top: 65px;
}
@media screen and (max-width: 952px){
    .logo{
        font-size: 30px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .espacio-busqueda{
        width: 75%;
        margin-left: 5px;
        margin-right: -35px;
    }

}
@media screen and (max-width: 900px){ /*858*/
    .navegacion{
        height: 65px;
    }
    .boton_menu{
        display: inline-flex;
    }
    .menu{
        position: fixed; /*fixed*/
        width: 100vw;
        height: calc(100vh - 65px);
        background-color: rgb(255, 255, 255);
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    
    .submenu{
        display: none;
    }
    .logo{
        font-size: 25px;
        padding-left: 10px;
        padding-right: 0px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .espacio-busqueda{
        width: 70%;
        margin-left: 40px;
        
    }
}
@media screen and (max-width: 900px) and (orientation: landscape){
    .menu{
        overflow: scroll;
        height: calc(100% - 65px);
    }
    .menu li{
        margin: 5px 0 0 0;
    }

}
@media screen and (max-width: 550px){
    .logo{
        font-size: 10px;
        padding-left: 5px;
        padding-right: 50px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .espacio-busqueda{
        width: 70%;
        margin-left: -15px;
    }
    .menu li{
        margin: 20px 0 0 0;
        line-height: 20px;
    }
    
}

/*  main    */
main{
    width: 100%;
    height: auto;
    
}
.titulo{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    justify-content: center;
}
.contenedor{
    padding: 25px 80px;
   
    background-color: rgb(132, 184, 155);
}
.contenido{
    color: rebeccapurple;
    
}



/*  footer  */


footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: rgb(246, 250, 255);
    color: #fff;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    /*text-transform: uppercase;*/
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}
.box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
    
}
.box .content::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
}
.box .content p{
    text-align: justify;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
    
}
.left .content .social a span{
    height: 40px;
    width: 40px;
    background-color: rgb(246, 250, 255);
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    color:#fff;
    
}
.left .content .social a span:hover{
    color: #000;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all .6s;
    border-radius: 50px;
    
}
.center .content .icon{
    font-size: 1.4375rem;
    background: #1a1a1a;
    background:  rgb(253, 254, 255);
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.center .content .icon:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transition: all .6s;
    border-radius: 50px;
    color: #000;
}
.center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}
.center .content .phone{
    margin: 10px;
}
.right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    
}
.right form .msg{
    margin-top: 10px;
}
.right form input, .right form textarea{
    width: 100%; 
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
    color:#fff;
}
.right form input:focus,
.right form textarea:focus{
    outline-color: #fefeff;
}
.right form input{
    height: 35px;
}
.right form .btn{
    margin-top: 10px;
}
.right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;

}
.right .form .btn button:hover{
    background: #000;
    
}
.bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background:  rgb(237, 245, 255);
}
.bottom .center span{
    color: #656565;


}
@media screen and (max-width: 900px){
    footer{
        position: relative;
        top: 30px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0px;
    }
}
