*,  *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

    /*
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
*/
}




/*  footer  */
/* tipo de letra y fondo*/
footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: rgb(255, 254, 254);
    color: rgb(0, 0, 0);
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    /*text-transform: uppercase;*/
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}
/*fondo de las rayitas*/
.box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100px;
    background: #000000f3;
    
}
.box .content::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #ff9419f3;
    top: -10px;
}
.box .content p{
    text-align: justify;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
    
}
/*logos de redes*/
.left .content .social a span{
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    border-radius: 15px;
    color:rgb(0, 0, 0);
    
}
.left .content .social a span:hover{
    color: rgb(27, 30, 218);
    background-color: rgba(255, 255, 255, 0.2);
    transition: all .6s;
    border-radius: 150px;
    
}
/*logos de correo*/
.center .content .icon{
    font-size: 1.4375rem;
    background: #000000;
    background:  rgb(255, 255, 255);
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.center .content .icon:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transition: all .6s;
    border-radius: 50px;
    color: rgb(0, 0, 0);
}
.center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}
.center .content .phone{
    margin: 10px;
}
.right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    
}
.right form .msg{
    margin-top: 10px;
}


.right form textarea:focus{
    outline-color: #3498db;
}
.right form input{
    height: 35px;
}
.right form .btn{
    margin-top: 10px;
}
.right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #000000;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;

}
.right .form .btn button:hover{
    background: rgb(255, 255, 255);
    
}
.bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background:  rgb(243, 129, 35);
}
.bottom .center span{
    color: #f34646;
}
@media screen and (max-width: 900px){
    footer{
        position: relative;
        top: 30px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0px;
    }
}
