*,  *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

    /*
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
*/
}

div{

    height: 75px;


}




/*  footer  */

footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: rgb(42, 95, 165);
    color: rgb(163, 29, 29);
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    /*text-transform: uppercase;*/
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}
.box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100px;
    background: #1a1a1a;
    
}
.box .content::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
}
.box .content p{
    text-align: justify;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
    
}
.left .content .social a span{
    height: 40px;
    width: 40px;
    background-color: rgb(42, 95, 165);
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    color:#fff;
    
}
.left .content .social a span:hover{
    color: #000;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all .6s;
    border-radius: 150px;
    
}
.center .content .icon{
    font-size: 1.4375rem;
    background: #1a1a1a;
    background:  rgb(42, 95, 165);
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.center .content .icon:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transition: all .6s;
    border-radius: 50px;
    color: #000;
}
.center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}
.center .content .phone{
    margin: 10px;
}
.right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    
}
.right form .msg{
    margin-top: 10px;
}
.right form input, .right form textarea{
    width: 100%; 
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
    color:#fff;
}
.right form input:focus,
.right form textarea:focus{
    outline-color: #3498db;
}
.right form input{
    height: 35px;
}
.right form .btn{
    margin-top: 10px;
}
.right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;

}
.right .form .btn button:hover{
    background: rgb(255, 255, 255);
    
}
.bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background:  rgb(42, 95, 165);
}
.bottom .center span{
    color: #656565;
}
@media screen and (max-width: 900px){
    footer{
        position: relative;
        top: 30px;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0px;
    }
}
